$text: #f6f6f6;
$delete: #e61919;
$add: #5cb85c;
$header-bg: #002dac;

button {
    border-radius: 5px;
    border: none;
}

.header {
    background: $header-bg;
    width: auto;
    height: auto;
    padding: 15px 25px 15px 25px;
    border-radius: 5px 5px 0px 0px;
    color: $text;
    display: flex;
    
    button {
        color: $text;
    }
    h2 {
        margin: 0px;
    }
    .delete {
        background: $delete;
        margin-left: auto;
        margin-right: 10px;
    }
    .add {
        background: $add;
    }
}